In [ ]:
print("hello")

hello

case-sensitive

In [ ]:
Name = "sneha"
name = "aishu"
print(Name,name)

sneha aishu

indentation matters

In [ ]:
x=2
if x > 0:
  print("x is positive")
  print("this is a inside the if block")

x is positive
this is a inside the if block

Variable & Data types

Numeric types

In [ ]:
age = 22 # int
height = 5.9 # float
complex_num = 3 + 4j # complex

String type

In [ ]:
name = "aishu"
message = 'hello world'
MUltiline = """this is
 multiline string"""

Boolean type

In [ ]:
is_active = True
is_finished = False

Type checking

In [ ]:
print(type(age))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

Type conversion

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number = float(str_number)

print(f"Original: {str_number} (type: {type(str_number)})")
print(f"Integer: {int_number} (type: {type(int_number)})")
print(f"Float: {float_number} (type: {type(float_number)})")

Original: 123 (type: <class 'str'>)
Integer: 123 (type: <class 'int'>)
Float: 123.0 (type: <class 'float'>)

Create variables for personal information

In [ ]:
first_name = "your first Name"
last_name = "your last Name"
age = 28
height = 5.7
is_student = True

Print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Student: {is_student}")

Name: your first name your last name
Age: 28
Height: 5.7 feet
Student: True

operators & basic operations

Arithmetic operators

In [ ]:
a = 10
b = 20
print(f"Addition: {a} + {b} = {a + b}")
print(f"subtraction: {a} - {b} = {a - b}")
print(f"multiplication: {a} * {b} = {a * b}")
print(f"division: {a} / {b} = {a / b}")
print(f"modulos: {a} % {b} = {a % b}")
print(f"Exponentiation: {a} ** {b} = {a ** b}")

Addition: 10 + 20 = 30
subtraction: 10 - 20 = -10
multiplication: 10 * 20 = 200
division: 10 / 20 = 0.5
modulos: 10 % 20 = 10
Exponentiation: 10 ** 20 = 100000000000000000000

Relational Operators (or) Comparison

In [ ]:

x = 5
y = 10

print(f"{x} == {y}: {x == y}")
print(f"{x} != {y}: {x != y}")
print(f"{x} < {y}: {x < y}")
print(f"{x} > {y}: {x > y}")
print(f"{x} <= {y}: {x <= y}")
print(f"{x} >= {y}: {x >= y}")

5 == 10: False
5 != 10: True
5 < 10: True
5 > 10: False
5 <= 10: True
5 >= 10: False

string comparison

In [ ]:
name1 = "Sneha"
name2 = "Diya"
print(f"'{name1}' > '{name2}': {name1 < name2}")

'Sneha' > 'Diya': False

Logical operators

In [ ]:
p = True
q = False

print(f"p and q: {p and q}")
print(f"p or q: {p or q}")
print(f"not p: {not p}")

p and q: False
p or q: True
not p: False

In [ ]:
# Personal information
age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:
# Loan criteria
min_age = 18
min_income = 30000
min_credit_score = 650

In [ ]:
# Check qualifications
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

In [ ]:
print("=== Loan Qualification Check ===")
print(f"Age: {age} (Required: {min_age}) - {'Yes' if age_qualified else 'No'}")
print(f"Income: ${annual_income} (Required: ${min_income}) - {'Yes' if income_qualified else 'No'}")
print(f"Credit Score: {credit_score} (Required: {min_credit_score}) - {'Yes' if credit_qualified else 'No'}")
print(f"Has Collateral: {'Yes' if has_collateral else 'No'}")
print(f"\nOverall Qualification: {'QUALIFIED' if overall_qualified else 'NOT QUALIFIED'}")

=== Loan Qualification Check ===
Age: 25 (Required: 18) - Yes
Income: $50000 (Required: $30000) - Yes
Credit Score: 720 (Required: 650) - Yes
Has Collateral: Yes

Overall Qualification: QUALIFIED

Lists

Creating lists

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
numbers = [10, 20, 30, 40, 50]
mixed_data = [1, "Hello", 3.14, True]

List indexing(0-based)

In [ ]:
print(f"First fruits:{fruits[0]}")
print(f"last fruits:{fruits[-1]}")
print(f"second to last:{fruits[-2]}")

First fruits:apple
last fruits:grape
second to last:orange

List slicing

In [ ]:
print(f"First 2 fruits: {fruits[0:2]}")
print(f"Last 2 fruits: {fruits[-2:]}")
print(f"All except first: {fruits[1:]}")

First 2 fruits: ['apple', 'banana']
Last 2 fruits: ['orange', 'grape']
All except first: ['banana', 'orange', 'grape']

List methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1, "pinapple")
remove = fruits.pop()
print(f"update list:{fruits}")
print(f"removed:{remove}")

update list:['apple', 'pinapple', 'banana', 'orange', 'grape']
removed:kiwi

List operations

In [ ]:
print(f"length: {len(fruits)}")
print(f"contains 'apple:{'apple' in fruits}")
print(f"Index of 'banana': {fruits.index('banana')}")

length: 5
contains 'apple:True
Index of 'banana': 2

Tuple are immutable

In [ ]:
coordinates = (10, 20)
rgb_color = (255, 128, 0)
person_info = ("Alice", 25, "Engineer", True)

Tuple unpacking

In [ ]:
x, y = coordinates
print(f"X: {x}, Y: {y}")

X: 10, Y: 20

Tuple methods

In [ ]:
print(f"Count of 25: {person_info.count(25)}")
print(f"Index of 'Engineer': {person_info.index('Engineer')}")

Count of 25: 1
Index of 'Engineer': 2

Dictionary creation

In [ ]:
person = {
"name": "Alice Johnson",
"age": 23,
"profession": "Software Engineer",
"salary": 75000,
"skills": ["Python", "JavaScript", "SQL"]
}

Accessing values

In [ ]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age', 'Unknown')}")

Name: Alice Johnson
Age: 23

Dicitionary methods

In [ ]:
print(f"keys: {list(person.keys())}")
print(f"values:{list(person.values())}")
print(f"items:{list(person.items())}")

keys: ['name', 'age', 'profession', 'salary', 'skills']
values:['Alice Johnson', 23, 'Software Engineer', 75000, ['Python', 'JavaScript', 'SQL']]
items:[('name', 'Alice Johnson'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', ['Python', 'JavaScript', 'SQL'])]

Adding/updating

In [ ]:
person["location"] = "new york"
person["salary"] = 80000

Practical use case:inventory management